<h1>{{title}}</h1>
<!-- <p>Name: {{student.name}}</p>
<p>ID: {{student.id}}</p>
<p>Description: {{student.description}}</p>
<p>Healthy?: {{student.isHealthy}}</p> -->

<li *ngFor="let x of student" [class.featured] ="x.featured">
    <img [src]="x.image" alt="" height="100px" width="100px"> 
    <p>Name: {{x.name | uppercase}}</p>
    <p>ID: {{x.id}}</p>
    <p>Description: {{x.description}}</p>
    <p>Healthy?: {{x.isHealthy}}</p>
    <p *ngIf="x.inStock > 0">In stock?: {{x.inStock}}</p>
    <p *ngIf="x.inStock === 0">"out of stock"</p>
    <p>Price: {{x.price | currency: 'USD'}}</p>
    <p>{{x.qty}}</p>
    <button (click)="increaseQTY(x)">+</button>
    <button (click)="decreaseQTY(x)">-</button>
</li>

<p>{{totalInventory()}} items in stock</p>



